img{
    height: 150px;
    width: auto;
}

#results {
    position:absolute;
    color: #0b2429;
    background-color: #F3AC3C ;

}

#results:hover {
    background-color: #0b2429;
    color: #F3AC3C;
    border-color: #0b2429;
}

p {
    font-size: 30px;
    color: #998235;
    text-align: center;
    background-color: #0b2429;
    padding-top: 20px;
    padding-bottom: 20px;
    text
}

body {
    background-color: #1a4341 ;
}

div {
    display: flex;
    justify-content: center;
}

#buttons {
    display: flex;
    border-width: 5px;
    justify-content: center;
    gap:10px;
    margin-top:20px;
}

#section {
    position:absolute;
    display: flex;
    justify-content: center;
    vertical-align: center;
    background-color: #1a4341;
    
}

#myChart {
    margin-top: 350px;
    display: flex;

}




/* #c {
    position: absolute;
    height: 30px;
    width: 80%;
    background-color:#1a4341;
    margin-top: 25px;
} */

/* #b {
    position: absolute;
    height: 30px;
    width: 80%;
    background-color:#1a4341;
    margin-top: 65px;

} */

/* #d {
    position: absolute;
    height: 30px;
    width: 80%;
    background-color:#1a4341;
    margin-top: 105px;

} */

/* #e {
    position: absolute;
    height: 30px;
    width: 80%;
    background-color:#1a4341;
    margin-top: 145px;

} */

/* #a {
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: #1a4341;
    border-radius: 50%;
    vertical-align: center;
} */

/* #wrapper {
    border-radius:50%;
    width: 400px;
    height: 400px;
} */

